.span1 {
    background-color: aquamarine;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 50px;
}
.span2 {
    background-color: red;
    font-size: 40px;
    
}
.congthuc {
    font-size: 80px;
}