.header {
    background-color: rgb(112, 189, 110);
    height: 60px;
}
.item {
    position:relative;
    top:12px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    display: inline;
}
.myanchor {
    margin-left: 5px;
}
.btnSearch {
    
}
#search {
    height: 25px;
    padding-left: 15px;
    border-radius: 13px;
}
.video {
    text-align: center;
    margin-top: 30px;
}
.customerInformation {
    width: 90%;
    background-color: rgb(200, 200, 200);    
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.titleHeader {
    text-align: left; 
    padding-left: 10px;
    width: 90%; margin-bottom: -25px;
}
.button{
    margin: 10px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}