.header {
    height: 60px;
    background-color: rgb(96, 146, 90);
}
.item {
    margin-left: 10px;
    position:relative;
    top:12px; 
    color: white;
    font-size: 20px;
    display: inline;
}
#search {
    height: 25px;
    padding-left: 10px;
    border-radius: 90px;
}
#search:hover {
    background-color: tomato;
}
.video{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}