html, body {
    text-align: center;
}
.studentManagement {
    width: 50%;
    margin: auto;
}
.table1 {
    padding: 10px;
    text-align: left;
    background-color: red;
}
.table1 td {
    padding: 10px;
    background-color: seagreen;
}
